<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencias por Curso</title>
    <link rel="stylesheet" href="{{ url_for('Static', filename='Css/VistaAdmin.css') }}">

    </style>
</head>
<body>
    <div class="course-attendance-container">
        <h1>Asistencias Totales por Curso</h1>
        <table id="courseAttendanceTable">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Total Asistencias</th>
                </tr>
            </thead>
            <tbody>
                </tbody>
        </table>
        <a href="/VistaAdmin" class="back-link">Volver al Panel de Administración</a>
    </div>
    <script src="{{ url_for('Static', filename='JS/Asistencias.js') }}"></script>
</body>
</html>